In [1]:
import numpy as np
import pandas as pd
import quandl
import datetime
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [3]:
plt.style.use('seaborn-darkgrid')
plt.rc('figure', figsize=(16, 10))
plt.rc('lines', markersize=4)

In [4]:
quandl.ApiConfig.api_key = "zYKEagbEgDjj6wHUzDc3"

In [10]:
start_date = datetime.date(2015, 3, 20)
end_date = datetime.date.today()

In [12]:
data = quandl.get('EOD/AAPL')

In [22]:
data.to_csv('apple_stock.csv')

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1090 entries, 2013-09-03 to 2017-12-28
Data columns (total 12 columns):
Open          1090 non-null float64
High          1090 non-null float64
Low           1090 non-null float64
Close         1090 non-null float64
Volume        1090 non-null float64
Dividend      1090 non-null float64
Split         1090 non-null float64
Adj_Open      1090 non-null float64
Adj_High      1090 non-null float64
Adj_Low       1090 non-null float64
Adj_Close     1090 non-null float64
Adj_Volume    1090 non-null float64
dtypes: float64(12)
memory usage: 110.7 KB

In [24]:
data.shape

(1090, 12)

In [25]:
data.describe()

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
count,1090.000000,1090.000000,1090.000000,1090.000000,1.090000e+03,1090.000000,1090.000000,1090.000000,1090.000000,1090.000000,1090.000000,1.090000e+03
mean,194.564537,196.114734,193.016676,194.613130,3.605114e+07,0.015642,1.005505,107.107019,107.962839,106.231612,107.129951,4.828336e+07
std,160.562848,161.812898,159.407381,160.647536,2.194473e+07,0.175122,0.181735,26.868566,26.975724,26.723112,26.876550,2.782228e+07
min,90.000000,90.700000,89.470000,90.280000,5.704900e+06,0.000000,1.000000,57.639960,59.151858,57.544743,57.917892,1.147592e+07
25%,108.042500,108.942500,106.972500,108.007500,2.120714e+07,0.000000,1.000000,90.057199,91.128603,89.157862,90.182291,2.833625e+07
50%,121.585000,122.504950,120.640000,121.755000,3.248325e+07,0.000000,1.000000,104.726475,105.840835,103.629659,104.760244,4.204907e+07
75%,156.905000,157.809625,155.744975,156.515000,4.673778e+07,0.000000,1.000000,119.137057,120.001850,118.344380,119.274166,5.986604e+07
max,649.900000,651.260000,644.470000,647.350000,1.895606e+08,3.290000,7.000000,171.117844,173.160197,170.873544,172.397979,2.663808e+08

In [26]:
data.head(10)

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
Date,,,,,,,,,,,,
2013-09-03,493.1000,500.6000,487.35,488.580,11854600.0,0.0,1.0,63.448220,64.413260,62.708355,62.866622,82982200.0
2013-09-04,499.5600,502.2400,496.28,498.691,12322600.0,0.0,1.0,64.279441,64.624283,63.857397,64.167625,86258200.0
2013-09-05,500.2500,500.6800,493.64,495.270,8441700.0,0.0,1.0,64.368225,64.423554,63.517703,63.727438,59091900.0
2013-09-06,498.4400,499.3800,489.95,498.220,12840200.0,0.0,1.0,64.135329,64.256280,63.042902,64.107021,89881400.0
2013-09-09,505.0000,507.9200,503.48,506.170,12167400.0,0.0,1.0,64.979418,65.355140,64.783836,65.129964,85171800.0
2013-09-10,506.2000,507.4500,489.50,494.640,26542700.0,0.0,1.0,65.133824,65.294664,62.985000,63.646375,185798900.0
2013-09-11,467.0101,473.6900,464.81,467.710,32096300.0,0.0,1.0,60.091177,60.950694,59.808086,60.181235,224674100.0
2013-09-12,468.5000,475.4000,466.01,472.690,14430400.0,0.0,1.0,60.282886,61.170723,59.962492,60.822022,101012800.0
2013-09-13,469.3402,471.8292,464.70,464.900,10672700.0,0.0,1.0,60.390996,60.711261,59.793932,59.819666,74708900.0
2013-09-16,461.0000,461.6099,447.22,450.120,19418100.0,0.0,1.0,59.317845,59.396322,57.544743,57.917892,135926700.0

In [31]:
data.isna().values.any()

False

## Expore the data

##### We will look at the movement of the stock over time by plotting Closing price vs Time